In [1]:
import pandas as pd
import os

In [2]:
os.listdir('./data')

['data_synop',
 'donnees-synop-essentielles-omm.csv',
 'fires_with_meteo.csv',
 'fires_with_meteo_full_one.csv',
 'liste_incendies_ du_10_01_2020.csv',
 'meteo_stations.csv',
 'private_test.csv',
 'private_train.csv',
 'processed_meteo_stations.csv',
 'synop_aglomerated.csv',
 'test.csv',
 'train.csv']

In [3]:
meteo_1 = pd.read_csv('./data/processed_meteo_stations.csv', sep=";")

c:\users\luism\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
meteo_2 = pd.read_csv('./data/donnees-synop-essentielles-omm.csv', sep=";")

c:\users\luism\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
meteo_3 = pd.read_csv('./data/synop_aglomerated.csv', sep=",")

c:\users\luism\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3,4,5,6,7,8,9,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
meteo_1.tail()

,Unnamed: 0,date,insee_code,Durée d'ensoleillement de la journée,Hauteur des précipitations,Température minimale de la journée,Température maximale de la journée
206311,206311,2020-01-23,2B033,0h,0.8mm,5.4°C,13.9°C
206312,206312,2020-01-24,2B033,0h,45.0mm,9.8°C,14.1°C
206313,206313,2020-01-25,2B033,5h,0.0mm,6.7°C,16.0°C
206314,206314,2020-01-26,2B033,7h,0.0mm,7.0°C,15.5°C
206315,206315,2020-01-27,2B033,7h,0.0mm,5.5°C,15.5°C

In [17]:
meteo_1 = meteo_1.drop(columns=['Unnamed: 0'])

In [19]:
meteo_1 = meteo_1.rename(columns={"Durée d'ensoleillement de la journée": "daylight duration (hours)",
                        "Hauteur des précipitations": "rainfall (mm)",
                        "Température minimale de la journée": "minimum temperature (celsius)",
                        "Température maximale de la journée": "maximal temperature (celsius)"
                       })

In [21]:
meteo_1["daylight duration (hours)"] = meteo_1["daylight duration (hours)"].str[:-1]
meteo_1["rainfall (mm)"] = meteo_1["rainfall (mm)"].str[:-2]

In [22]:
meteo_1["minimum temperature (celsius)"] = meteo_1["minimum temperature (celsius)"].str[:-2]
meteo_1["maximal temperature (celsius)"] = meteo_1["maximal temperature (celsius)"].str[:-2]

In [25]:
meteo_1.tail(1)

,date,insee_code,daylight duration (hours),rainfall (mm),minimum temperature (celsius),maximal temperature (celsius)
206315,2020-01-27,2B033,7,0.0,5.5,15.5

In [26]:
meteo_1.to_csv('./data/_processed_meteo_stations.csv', sep=";")

In [27]:
meteo_2.tail(1)

,ID OMM station,Date,Pression au niveau mer,Variation de pression en 3 heures,Type de tendance barométrique,Direction du vent moyen 10 mn,Vitesse du vent moyen 10 mn,Température,Point de rosée,Humidité,...,Longitude,Latitude,communes (name),communes (code),EPCI (name),EPCI (code),department (name),department (code),region (name),region (code)
1653388,7627,2019-06-11T02:00:00+02:00,101650.0,-180.0,7.0,320.0,0.9,283.45,282.65,95.0,...,1.106833,43.005333,Lorp-Sentaraille,09289,CC Couserans-Pyrénées,200067940.0,Ariège,09,Occitanie,76.0

In [31]:
meteo_2.columns

Index(['ID OMM station', 'Date', 'Pression au niveau mer',
       'Variation de pression en 3 heures', 'Type de tendance barométrique',
       'Direction du vent moyen 10 mn', 'Vitesse du vent moyen 10 mn',
       'Température', 'Point de rosée', 'Humidité', 'Visibilité horizontale',
       'Temps présent', 'Temps passé 1', 'Temps passé 2', 'Nebulosité totale',
       'Nébulosité  des nuages de l' étage inférieur',
       'Hauteur de la base des nuages de l'étage inférieur',
       'Type des nuages de l'étage inférieur',
       'Type des nuages de l'étage moyen',
       'Type des nuages de l'étage supérieur', 'Pression station',
       'Niveau barométrique', 'Géopotentiel',
       'Variation de pression en 24 heures',
       'Température minimale sur 12 heures',
       'Température minimale sur 24 heures',
       'Température maximale sur 12 heures',
       'Température maximale sur 24 heures',
       'Température minimale du sol sur 12 heures',
       'Méthode de mesure Température du thermomètre mouillé',
       'Température du thermomètre mouillé',
       'Rafale sur les 10 dernières minutes', 'Rafales sur une période',
       'Periode de mesure de la rafale', 'Etat du sol',
       'Hauteur totale de la couche de neige, glace, autre au sol',
       'Hauteur de la neige fraîche', 'Periode de mesure de la neige fraiche',
       'Précipitations dans la dernière heure',
       'Précipitations dans les 3 dernières heures',
       'Précipitations dans les 6 dernières heures',
       'Précipitations dans les 12 dernières heures',
       'Précipitations dans les 24 dernières heures', 'Phénomène spécial 1',
       'Phénomène spécial 2', 'Phénomène spécial 3', 'Phénomène spécial 4',
       'Nébulosité couche nuageuse 1', 'Type nuage 1', 'Hauteur de base 1',
       'Nébulosité couche nuageuse 2', 'Type nuage 2', 'Hauteur de base 2',
       'Nébulosité couche nuageuse 3', 'Type nuage 3', 'Hauteur de base 3',
       'Nébulosité couche nuageuse 4', 'Type nuage 4', 'Hauteur de base 4',
       'Coordonnees', 'Nom', 'Type de tendance barométrique.1',
       'Temps passé 1.1', 'Temps présent.1', 'Température (°C)',
       'Température minimale sur 12 heures (°C)',
       'Température minimale sur 24 heures (°C)',
       'Température maximale sur 12 heures (°C)',
       'Température maximale sur 24 heures (°C)',
       'Température minimale du sol sur 12 heures (en °C)', 'Altitude',
       'Longitude', 'Latitude', 'communes (name)', 'communes (code)',
       'EPCI (name)', 'EPCI (code)', 'department (name)', 'department (code)',
       'region (name)', 'region (code)'],
      dtype='object')

In [30]:
meteo_3.tail(1)

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
4030575,89642,20200119180000,99490,-40,8,170,8.7,269.65,262.75,55,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN

In [32]:
meteo_3.columns

Index(['numer_sta', 'date', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4', 'Unnamed: 59'],
      dtype='object')